#sticky{
	height: 72px;
	width: 100%;
	background-color: rgba(5, 130, 255, 0.71);
	position: fixed;
	margin: 0px;
	padding: 0px;
	top: 0px;
	left: 0px;
	text-align: center;
}
#logo{
	float: left;
	display: inline-block;
	width: 150px;
	margin-top: 10px;
	margin-left: 10px;
}
#search {
	display: inline-block;
	position: absolute;
	width: 60%;
	right: 0px;
	margin-top: 18px;
	margin-right: 20%;
}
#search input:focus{
	outline: none;
}
#search input{
	background: white;
	font-family: "Source Sans Pro Light";
	font-size: 22px;
	border: none;
	height: 33px;
	padding-left: 8%;
	padding-right: 2%;
	color: black;
	width: 90%;
	border-radius: 100px;
}