<header>
	<div id="sticky">
		<div id="logo">
			<img src="/images/logo.svg" alt="logo">
		</div>
		<div id="search">
			<input type="text" placeholder="통합검색" autocorrect="off" autocomplete="off" spellcheck="false">
		</div>
		<div id="login_info">
			<form action="logout" method="post">
				<span><%= email %></span>
				<input type="submit" value="Log-out" />
			</form>
		</div>
	</div>
</header>