<header>
	<div id="sticky">
		<div id="logo">
			<img id="logo_image" src="images/ddd.png" alt="logo">
		</div>
		
		<div id="search">

			<form action="search" method="post">
				<input type="text" name="keyword" placeholder="통합검색" autocorrect="off" autocomplete="off" spellcheck="false">
				<input type="hidden" name="how" value="a">
				<input type="submit">
			</form>
		</div>
		<div id="login_info">
			<form action="logout" method="post">
				<input type="submit" value="LOGOUT" />
			</form>
			<span><%= email %></span>

		</div>
		
	</div>
</header>