<!DOCTYPE html>
<html>
  <head>
    <title>한양대 강의평가 서비스</title>
    <link rel='stylesheet' href='/stylesheets/signup.css' />
    <script charset="UTF-8" type="text/javascript" src="javascript/jquery-2.1.4.js"></script>
    <script charset="UTF-8" type="text/javascript" src="javascript/signin.js"></script>
  </head>
  <body>
  	<header>
  		<form action="search_by_anykeyword" method="post">
  			<img id="logo" src="" alt="logo_image"/>
  		</form>
  		
  	</header>
  	<section>
  		<article id="sign_up">
        
  			<h1>HANYANG UNIV.</h1>
        <h2>Lecture for students</h2>
        <p>Share information & enjoy community with our friends in real-time</p>
  			<form action="signin_submit" method="post">
  				<input type="text" name="email" id="email"/></td>
  				<input type="password" id="password" name="password"/></td>
          <input type="submit" value="SignIn" />       
  			</form>
        <form action="signup" method="post">
           
        </form>   
      
			
        <p>Lost your password?</p>
  		</article>
  	</section>
    <footer>
    	footer
    </footer>
  </body>
</html>