<!DOCTYPE html>
<html>
  <head>
    <title>한양대 강의평가 서비스</title>
    <link rel='stylesheet' href='/stylesheets/signup.css' />
    

    <script charset="UTF-8" type="text/javascript" src="javascript/jquery-2.1.4.js"></script>
    <script charset="UTF-8" type="text/javascript" src="javascript/signin.js"></script>
  </head>
  <body>

  	<header>
  		
  			<a href="/"><img id="logo" src="images/Logo_150617.png" alt="logo_image"/></a>
  		
  		
  	</header>
    

    

  	<section>

  		<article id="sign_in">
        
  			<h1>HANYANG UNIV.</h1>
        <h2>Lecture for students</h2>
        <p>Share information & enjoy community with our friends in real-time</p>
  			<form action="signin_submit" method="post">

  				<input type="text" name="email" id="email" placeholder="please enter your email address"/></br>
  				<input type="password" id="password" name="password" placeholder='please enter your password'/></br>
          <input type="submit" value="SignIn" />       

  			</form>
        
      
			  
        <p><a href="#">Lost your password?</a><a href="#" id="to_signup">Sign Up</a></p>
        
        <!--<button id="to_signup">where</button> -->
  		</article>


      <article id="sign_up">
        <h1>Sign up</h1>
        <h2>Lecture for students</h2>
        <p>Share information & enjoy community with our friends in real-time</p>
        <form action="signup_submit" method="post">
          <input type="text" name="email" id="email" placeholder="please enter your email address here"/></br>
          <input type="text" name="studentid" id="studentid" placeholder="please enter your student number"/></br>
          <input type="password" id="password" name="password" placeholder="please enter password you want"/></br>
          <input type="password" id="remind_password" placeholder="please enter password you want"/></br>
          <input type="submit" value="Sign Up" />       
        </form>
        
        <p><a href="#">Lost your password?</a><a href="#" id="to_signin">Sign In</a></p>
        <!--<button id="to_signin">toSignIn</button> -->
      </article>
  	</section>
    <footer>
    </footer>
  </body>
</html>