
#simpleSearch{
	margin-top: 100px;
	width:100%;
	height: 300px;
	text-align: center;
	background-color: rgba(1,1,1,0.3);
}

#simpleSearch:before{
	background: url("/images/back.jpeg") fixed;
	background-size: cover;
	content: '';
	position: absolute;
	top: 90px; left:0; right:0;
	height: 100%;
	z-index: -1;
	filter: blur(3px); 
	-webkit-filter: blur(3px); 
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
}

#select{
	padding-top: 25px;
	font-size: 13pt;
}
button.category {
	max-width: 250px;
	width: 30%;
	height: 70px;
	background-color: black;
	color: white;
	border: none;
	margin: 20px 3%;
	font-size: 15pt;
}
button.category:hover {
	opacity: 0.5;
}
.column {
	width: 49.5%;
	float: left;
}

#wall{
	width: 1%;
	background-color: rgba(0,0,0,0);
}

#leftCol {
	background-color: #fff;
}
#rightCol {
	background-color: #fff;
}
.searchForm{
	font-size: 14pt;
	text-align: center;
	display: block;
	margin: 0 auto;
	margin-top: 8px;
	transition: #6363CE 0.3s ease 0s;
}
button.searchForm, button.searchCancel{
	margin-top: 15px;
	color: #FFF;
	text-align: center;
	border: medium none;
	background: #F33F3F none repeat scroll 0% 0%;
	transition: all 0.3s ease 0s;

	background: #b2cf36 url('search_btnbg-f7d81f728c6a2c45ffa4b02511b9f185.jpg') center center no-repeat;
	border: none;
	color: #fff;
	font-size: 23px;
	height: 52px;
	padding: 9px 0 10px;
	text-transform: capitalize;
	width: 360px;
}
button.searchForm:hover, button.searchCancel:hover{
	background-color: #333;
}
input.searchForm{
	background: rgba(255, 255, 255, 0.7);
	border: 1px solid rgba(255, 255, 255, 0.1);
	color: #222;
	/*display: inline-block;*/
	font-family: "Source Sans Pro ExtraLight";
	font-size: 25px;
	padding-top: 7px;
	padding-bottom: 7px;
	font-weight: 200;
	height: auto;
	/* margin: 0 0 5px 0px; */
	outline: none;
	text-align: center;
	width: 360px;
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	-o-transition: background 0.3s;
	transition: background 0.3s;
}
input.searchForm:hover{
	background: white;
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	-o-transition: background 0.3s;
	transition: background 0.3s;
}
input.searchForm:focus{
	background: white;
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	-o-transition: background 0.3s;
	transition: background 0.3s;
}

input[type="submit"].searchForm{
	margin-top: 15px;
	color: #FFF;
	text-align: center;
	border: medium none;
	background: #F33F3F none repeat scroll 0% 0%;
	transition: all 0.3s ease 0s;

	background: #b2cf36 url('search_btnbg-f7d81f728c6a2c45ffa4b02511b9f185.jpg') center center no-repeat;
	border: none;
	color: #fff;
	font-size: 23px;
	height: 52px;
	padding: 9px 0 10px;
	text-transform: capitalize;
	width: 360px;
}
input[type="submit"].searchForm:hover{
	background-color: #333;
}

.searchBox{
	display: none;
	margin-top: 15px;
	padding-bottom: 15px;
}


.tabs > DIV {
	/*border-top: 1px solid #c7c7c7*/
	margin-top: 10px;
	background: #fff !important;
	/*border-bottom: 4px solid #E95855 !important;*/
	margin-left: 40px;
	margin-right: 40px;
}


.tabs > DIV SPAN {
	border-bottom: 4px solid #E5E5E5 !important;
	color: #ccc !important;
	font-weight: 300;
	line-height: 186px !important;
	display: block;
	text-align: center;
	font-size: 24px;
}

.tabs UL.horizontal {
	list-style: none outside none;
	margin: 0;
}

.tabs LI {
	background: white;
	border-bottom: 4px solid #E5E5E5;
	margin: 0 10px 0 0;
	display: inline-block;
}

.tabs A {
	color: #ccc;
	display: block;
	font-size: 18px;
	font-weight: 300;
	padding: 14px 24px;
	text-decoration: none;
}

.tabs LI:hover {
	background: #a0cac0;
	border-bottom: 4px solid #68a697;
}

.tabs LI:hover A {
	color: white;
}

.active {
	background: #a0cac0 !important;
	border-bottom: 4px solid #68a697 !important;
}

.active A {
	color: white !important;
}

.link {
	color: white;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 48px;
	margin-top: 20px;
	margin-left: 6px;
	text-decoration: none;
}

.link:hover {
	text-decoration: underline;
	color: inherit;
}

.anchorLink {
	border-bottom: 1px dashed white;
	color: white;
	text-decoration: none;
}

.anchorLink:hover {
	text-decoration: none;
	border-bottom: none;
	color: inherit;
}

.screenshot {
	position: absolute;
	clip: rect(0 0 0 0);
}

.prev,
.next {
	background: white !important;
	color: #a0cac0 !important;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.prev:hover,
.next:hover {
	background: #a0cac0 !important;
	color: white !important;
}

.logo {
	margin-top: -6px;
	margin-right: 10px;
	vertical-align: middle;
}

.button {
	background-color: #a0cac0;
	border: none;
	border-bottom: 4px solid #68a697;
	color: #FFFFFF;
	border-radius: 0;
	font-size: 14px;
	letter-spacing: 2px;
	height: 48px;
	line-height: 48px;
}
.button:hover {
	background: #93b7ae;
	color: #FFF;
	border-bottom-color: #68a697;
}

