body {
  width : 880px;
  margin : auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

header {
	height : 25px;
	background-color: red;
	padding : 5px;
	overflow: hidden;
}
header > form{
	float:left;
}
header > div{
	float:right;
}
/*section part*/
section {
	background-color:green;
	padding: 10px;
	margin:auto;
}
section > article{
	margin:auto;
	background-color: rgba(0,0,0,0.6);
	color: white; 
	width : 450px;
	height: 280px;
	padding:10px;
}
article h1{
	font-size: 50px;
	margin: 0px;
	margin-top: 10px;

}
article h2{
	font-size: 35px;
	margin: 0px;
	margin-left:75px;

}
article p{
	font-size: 20px;
}
article p:nth-child(3){
	width: 380px;
	text-align: right;
}
article p:nth-child(6){
	font-size: 15px;
	text-align: right;
}
article	form{
	text-align: center;
}
article form input{
	display: inline;
}
article form input:nth-child(3){
	background-color: purple;
	color: white;
	border: 0px;
}
table{
	background-color: white;
	width: 45%;
	margin:auto;
}
footer {
	height : 25px;
	background-color: blue;
	text-align: center;
	clear : both;
	padding : 10px;
}



