body {

  margin : auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

header {

	height : 50px;
	background-color: rgb(134,35,34);

	padding : 5px;
	overflow: hidden;
}
header > form{
	float:left;
}
header > div{
	float:right;
}

/*section part*/
section {
	background-image: url("images/로그인배경.JPG");
	background-size: cover;
	height : 650px;
}

section > #sign_in{
	display: block;
	margin:auto;
	background-color: rgba(0,0,0,0.6);
	color: white; 
	width : 500px;
	height: 400px;
	padding:10px;
	position: absolute;
	top: 150px;
	left: 60px;
}
article h1{
	font-size: 50px;
	margin: 0px;
	margin-top: 25px;
	margin-left: 10px;


}
article h2{
	font-size: 35px;
	margin: 0px;
	margin-left:87px;
	margin-bottom: 30px;

}
article p{
	font-size: 20px;
	margin-bottom: 30px;
}
article p > #to_signup, #to_signin{
	float : right;

}


article form input[type=submit]{
	background-color: purple;
	color: white;
	border: 0px;
}
/*
article p:nth-child(3){
	width: 380px;
	text-align: right;
}
article p:nth-child(5){
	font-size: 15px;
	text-align: right;
}
article p:nth-child(5) a{
	color: white;
}
*/
article	form{
	text-align: center;
}
article form input{
	display: inline;
	margin-right: 10px;
	width: 250px;
	height: 30px;
	border-radius: 5px;
	color: rgba(0,0,0,0.3);
	margin-top: 10px;
}

/*
article form input:nth-child(3){
	background-color: purple;
	width: 60px;
	height: 27px;
	color: white;
	border: 0px;

}
*/
table{
	background-color: white;
	width: 45%;
	margin:auto;
}
footer {

	height : 40px;
	background-color: rgb(50,14,25);

	clear : both;
	padding : 10px;
}


#sign_up {
	display: none;
	margin:auto;
	background-color: rgba(0,0,0,0.6);
	color: white; 
	width : 500px;
	height: 550px;
	padding:10px;
	position: absolute;
	top: 70px;
	left: 750px;
}
footer #div_fb{
	background-color: rgba(70,70,150,0.6);
	height: 35px;
	font-size: 30px;
	text-align: center;
	color: white;
	width: 240px;
	padding: 4px;
	padding-bottom: 6px;
}
footer #div_fb:hover{
	background-color: rgba(66,66,160,0.9);
}

footer #div_fb img {
	width: 35px;
}



